<% include header %>

<section>
    <h2><%- item.fotograaf %> - <%- item.titel %></h2>

    <img src="/img/<%- item.afbeeldingl %>" alt="<%- item.titel %>">

    <p class="datum"><%- item.datum %>, <%- item.plaats%></p>

    <p><%- item.body %></p>
</section>

<% include footer %>
